@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/* .bannerItem button{
  padding: 1rem 3rem;
  border: none;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color:rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background-color:#eee;
} */
.bannerItem{
  pointer-events: none;
  position: absolute;
  opacity: 0;
  width:100% ;
  height:100% ;
  transition: 2s;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content:end;
  font-size: 1.2rem;
}
.bannerItem.active{
  pointer-events:initial;  
  opacity: 1;
}

.imgBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.bannerConteiner{
  position: relative;
  overflow-y: hidden;
  padding-bottom: 3rem;
  width:100%;
  margin: 0 auto;
  height: 500px;
  color: #fff;
  
}
.bannerConteiner h1{
  font-size:  2.5rem;
  text-transform: uppercase;
  width: 18ch;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.bannerConteiner p{
  font-size:  1.2rem;
  max-width: 50ch;
  font-weight: 400;
  color: #ddd;
  margin-bottom: 1rem;
}
.verticalShadow{
  width: inherit;
  height: inherit;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1)100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.horizontalShadow{
  width: inherit;
  height: inherit;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8)70%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.statusBar{
  width:300px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content:space-between ;
  gap: .3rem;
  justify-self: right ;
  position: absolute;
  right: 2rem;
  bottom:0;
}
.statusBar span{
  background: rgba(255, 255, 255, 0.3);
  width: 70px;
  height:2.1px;
  border-radius:4px ;
  overflow-x: hidden;

}
.buttonBox button{
  transition: .3s;
  padding: 1rem 4rem;
  border: none;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color:rgba(0, 0, 0, 0.8);
  border-radius: 50px   ;
  background-color:rgba(255, 255, 255, 0.5);
  border: #fff 1px solid;
}
.buttonBox button:nth-child(2){
  color:rgba(255, 255, 255, 0.6);
  background-color:rgba(255, 255, 255, 0.2);
  padding: 1rem 2.5rem;
}
.buttonBox button:hover{
  background-color:rgba(255, 255, 255, 0.7)
}
.buttonBox button:hover:nth-child(2){
  background-color:rgba(255, 255, 255, 0.4)
}


.statusBar span.active::after{
  content: '';
  width: inherit;
  height: inherit;
  display: block;
  background: rgba(255, 255, 255, 0.7);
  transform: translate(-100%) ; 
  animation: animeStatusBar 3s forwards linear; 
}


@media (max-width:600px) {
  .bannerConteiner h1{
    font-size:  2rem;
    width: 15ch;
  }
  .bannerItem button,.buttonBox button:nth-child(2){
    padding: .5rem 1rem;   
    margin-right: 1rem;
    font-size: 1rem;   
  }
  .bannerConteiner p{
    font-size: 1rem;
    max-width: 30ch;
  }
  .bannerItem{
    font-size: 1rem;
    padding: 2rem 1rem ;
  }
  .bannerConteiner{
    height: 400px;
    }  
}
@keyframes animeStatusBar{
  to{
    transform: initial
  }
}

