.genreMovieContent{
  max-width: 100%;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  padding-bottom: 2rem;
}
.genreSection {  
  padding-bottom: 4rem;
}

.genreSection .link{
  display: block;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  

}
.genreSection h1{
  display: block;
  margin-right: 4rem;
  text-transform: uppercase;
  font-size: 3rem;
  justify-self: right;
  text-align: right;
  color: rgba(255, 255, 255, 0.2);
}
.genreMovieContent img{
  transition: .4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(.9);
}
.genreMovieContent img:hover{
  transform: scale(1);
}
.buttonBox .button:hover{
  background-color: rgba(255, 255, 255, 0.4);
}
.buttonBox .button{
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  
}
.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;  
}
.buttonBox h1 {
  margin: 20px;
  text-align: center;
  display: inline-block;

}

@media (max-width:600px) {
  .buttonBox .button{   
    border-radius: 2px;    
    width: 30px;
    height: 30px;
    font-size: 1rem;    
  }
  .buttonBox h1 {
    font-size: 1.5rem; 
    margin:8px;
  }
  .buttonBox {
    gap: .2rem;  
   }
   .genreSection .link{    
    font-size: 1.2rem;   
    margin-left: 0;  
  }
  .genreSection > h1{    
    margin-right: 2rem;    
    font-size: 1.8rem;    
  }
  .link svg{
    /* fill: red; */
    height: 20px;
  }

}
