
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height:max-content;
  background-color: black;
  max-width:1400px;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
  padding:1rem 2rem;
}
.header>div{
  line-height: .7;
}

.logo{
  width: 250px;
}
.user{
  height: 50px;
}
@media (max-width:600px) {
  .logo{
    width: 150px;
  }
  .user{
    height: 40px;
  }
  .header{
    height:min-content;
    padding:1rem;
  }


}