
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .movieListConteiner::after{
    content:'';
    position: relative;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 30px;
    background: url('../img/arrow.svg')center;

  }
  .movieListConteiner::before{
    content:'';
    position: relative;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 30px;
    background: url('../img/arrow.svg')center;

  }

.section{
    position: relative;  
    
  }
.movieListConteiner{
  position: relative;
  display: flex;
  overflow-x: scroll;   
  align-items: center;
  
}
.movieListConteiner::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.section .link{
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0; 
  margin-left: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
} 
.genreSection p{
  color: #777;
  font-size: 1rem;
  text-transform: uppercase;

} 
.movieListContent img:hover{
  transform: scale(1);
}
.movieListContent img{
  transform: scale(.9);
  width: 200px;
  height:100%;
  object-fit:cover;
  transition: .4s;
}

.arrouNavLeft, .arrouNavRight{
  opacity: 0;
  transition: .4s;
  position:absolute ;
  display: flex;
  align-items: center;
  justify-content: center; 
  top:38px;
  width:40px;
  height:90%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
  cursor: pointer;
  user-select: none;
  
}
.section:hover .arrouNavLeft, .section:hover .arrouNavRight  { 
  opacity: 1;
}
.arrouNavRight{
  scale: -1;
  right: 0px;
}
.arrouNavLeft{ 
  left: 0px;
}
.arrouNavRight img, .arrouNavLeft img{
  width:30px;
  height: 30px;
  object-fit: cover;

}

a, button, img{
  -webkit-tap-highlight-color: transparent;
}
@media (max-width:600px) {
  .section .link{
    font-size: 1.2rem;
   margin-left: 1rem;
   } 
   .link svg{
    /* fill: red; */
    height: 20px;
  }

}



