


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}
body{
  background-color: #000; 
}
.App{
  width: 100%;
  max-width:  1400px; 
  margin: 0 auto;
  position: relative;
  margin-top: 86px;
}
@media (max-width:600px) {
  .App{
    margin-top: 70px;
  }
}
